[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
requests = "*"
pre-commit = "*"
jose = "*"
pyjwt = "*"
passlib = "*"
bcrypt = "*"
pypdf = "*"
sqlmodel = "*"
psycopg2-binary = "*"
pydantic-settings = "*"
fastapi = {extras = ["standard"], version = "*"}
pytest-cov = "==6.0.0"
httpx = "*"
pytest-mock = "==3.14.0"
exceptiongroup = "==1.2.2"
tomli = "==2.0.2"
beautifulsoup4 = "==4.12.3"
loguru = "==0.7.2"

[dev-packages]
ruff = "*"
pylint = "*"
pytest = "==8.3.3"
ipykernel = "*"

[requires]
python_version = "3.10"

[scripts]
format = "pre-commit run --all-files"
test = "pytest --cov=turf_backend --cov-report term-missing:skip-covered --cov-report xml:coverage-report.xml --junitxml=coverage.xml tests"
