[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
requests = "*"
pre-commit = "*"
jose = "*"
pyjwt = "*"
passlib = "*"
bcrypt = "*"
# pypdf = "*"
sqlmodel = "*"
psycopg2-binary = "*"
pydantic-settings = "*"
fastapi = {extras = ["standard"], version = "*"}
pytest-cov = "==6.0.0"
httpx = "*"
pytest-mock = "==3.14.0"

[dev-packages]
ruff = "*"
pylint = "*"
pytest = "*"

[requires]
python_version = "3.12"

[scripts]
format = "pre-commit run --all-files"
test = "pytest --cov --cov-report term-missing:skip-covered --cov-report xml:coverage-report.xml --junitxml=coverage.xml ./tests"
