[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
requests = "*"
pre-commit = "*"
motor = "*"
python-jose = "*"
jose = "*"
pyjwt = "*"
passlib = "*"
bcrypt = "*"
pypdf = "*"
tabula-py = "*"
sqlmodel = "*"
psycopg2-binary = "*"
pydantic-settings = "*"
fastapi = {extras = ["standard"], version = "*"}

[dev-packages]
ruff = "*"
pylint = "*"

[requires]
python_version = "3.10"

[scripts]
format = "pre-commit run --all-files"
